<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<link rel="apple-touch-icon" href="/static/apple-touch-icon-precomposed.png"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>
<body>
	<div class="container">
		<h3>Minions</h3>

		<ul class="nav nav-tabs">
		  <%= lc node inlist @nodes do %>
  			<% [name, host] = String.split(to_string(node), "@") %>

	  		<%= if String.contains?(to_string(node), to_string(@selected_node)) do %>
		  		<li class="active"><a href="/<%= node %>"><%= host %></a></li>
				<% else %>
		  		<li><a href="/<%= node %>"><%= host %></a></li>
				<% end %>
		  <% end %>
		</ul>

		<br>
		
		<div class="container">
			<%= if @selected_node do %>

				<div class="panel panel-default">
				  <div class="panel-heading">Stations</div>
					<div class="panel-body">
						<div class="btn-group">
							<%= lc {station_name, station_url} inlist HashDict.to_list(@stations) do %>
			 		  		<%= if String.contains?("#{station_url}", "#{@current_station}") do %>
						  		<button type="button" class="btn btn-primary" onClick="location.href='/<%= @selected_node %>/<%= station_name %>'";><%= station_name %></button>
								<% else %>
						  		<button type="button" class="btn btn-default" onClick="location.href='/<%= @selected_node %>/<%= station_name %>'";><%= station_name %></button>
								<% end %>
				  		<% end %>
						</div>
  				</div>
				</div>

				<div class="panel panel-default">
				  <div class="panel-heading">MPD Daemon</div>
					<div class="panel-body">
    				<p>
							<% [[year, month, day], [hour, minute, second]] = @mpd_daemon_last_run %>
							Last run: <%= "#{day}.#{month}.#{year} #{hour}:#{minute}:#{second}" %>
    				</p>

						<div class="btn-group">
					  	<button type="button" class="btn btn-default" onClick="location.href='/<%= @selected_node %>/start_daemon'";>Start daemon</button>
						</div>
  				</div>
				</div>
			<% else %>
				<p>Please choose a minion</p>
			<% end %>
		</div>

	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
